<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6G Network Optimizer</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div id="header">
            <h1>Welcome to 6G Network Optimizer</h1>
        </div>
        <div id="desc">About the Project</div>
        <div id="about">
            <h3>The 6G Network Optimizer is an intelligent resource allocation system designed to enhance the performance and efficiency of next-generation 6G networks. Using the powerful CatBoost machine learning model, this tool analyzes critical network parameters such as application type, signal strength, latency, and bandwidth utilization to allocate resources dynamically and optimize network performance.</h3>
            <h4>The system empowers network administrators to:</h4>
            <ul>
                <li>Maximize bandwidth utilization across diverse devices and applications.</li>
                <li>Enhance user experience by reducing bottlenecks and service disruptions.</li>
                <li>Ensure low latency and high throughput for critical applications.</li>
                <li>Prioritize resources based on real-time signal strength and network demand.</li>
            </ul>
        </div>
        <button id="network"><a href="{{ url_for('index') }}" target="_blank">Start</a></button>
        <div id="team">
            <h3>Team Members:</h3>
            <div class="team-members">
                <div class="member">&rarr; Chittashree SM ~ 4NN21CS011</div>
                <div class="member">&rarr; Hruthik BG ~ 4NN21CS401</div>
                <div class="member">&rarr; Kishor Chavan ~ 4NN21CS020</div>
                <div class="member">&rarr; Vamil Porwal ~ 4NN21CS058</div>
            </div>
        </div>
    </div>
    <footer>&copy; 2024 | Team Cereal Killers | All Right Reserved</footer>
</body>
</html>